* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width: 100%;
  background-color: #000;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  font-family: arial;
  gap: 24px;
  background: #000;
  background-repeat: repeat;
  background-origin: padding-box;
  background-size: 25px 25px;
  background-position: 0px 0px;
}
h1 {
  font-size: 56px;
}
h3 {
  font-size: 24px;
}

/* this is the magic */

.box {
  padding: 32px;
  width: 400px;
  height: 600px;
  display: flex;
  border: 8px solid rgb(20, 204, 118);
  flex-direction: column;
  transition: background-position 0.2s ease-in-out,
    border-color 0.1s ease-in-out;
  cursor: pointer;
  color: #fff;
  gap: 16px;
  position: relative;
  text-decoration: none;
}
.box > * {
  z-index: 1;
}
.box:hover {
  border-color: transparent;
}

/* logo */

.box .logo {
  height: 75px;
  width: 75px;
  margin-top: auto;
  transition: filter 0.1s ease-in-out;
}
.box:hover .logo {
  filter: brightness(0%);
}

/* stuff */

.box:before {
  background-image: radial-gradient(
    circle,
    rgba(100, 100, 100, 1) 9%,
    rgba(58, 61, 87, 1) 9%
  );
  background-attachment: fixed;
  background-repeat: repeat;
  background-origin: padding-box;
  background-size: 25px 25px;
  background-position: 0px 0px;
  content: "";
  position: absolute;
  inset: 0;
  transition: background-position 0.2s ease-in-out, inset 0.1s ease-in-out;
  pointer-events: none;
}
.box:nth-child(even):before {
  background-image: radial-gradient(
    circle,
    rgba(58, 61, 87, 1) 9%,
    rgba(100, 100, 100, 1) 9%
  );
}
.box:hover:before {
  background-position: -24px -24px;
  inset: -24px;
}

.box:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    160deg,
    rgba(58, 61, 87, 0.3) 0%,
    rgb(20, 204, 118) 75%
  );
  transition: inset 0.1s ease-in-out, background-size 0.15s ease-in-out;
  background-size: 1000% 1000%;
  transform-origin: center center;
  pointer-events: none;
}
.box:hover:after {
  opacity: 1;
  inset: -24px;
  background-size: 100% 100%;
}

/* apsodjpaojsdpojaspdojaposjd */

.box__floaty {
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 0;
  transition: transform 0.1s ease-in-out, opacity 0.2s ease-in-out;
  transform: translate(0);
  z-index: 0;
}
.box__floaty.box__floaty--1 {
  background-color: #41e592;
  right: 10%;
  top: 10%;
}
.box__floaty.box__floaty--2 {
  background-color: #ffda8f;
  bottom: 26%;
  left: 24%;
}
.box__floaty.box__floaty--3 {
  right: 17%;
  bottom: 10%;
  border-radius: 100%;
  background: linear-gradient(160deg, #ff57a2 0%, #ffae0a 100%);
}
.box:hover .box__floaty {
  transform: translate(-40px, -25px);
  opacity: 0;
}
